<div th:fragment="showMore">
    <h2 class="mb-0">Category detail : <strong th:text="${category.name}"></strong></h2>
    </h2>

    <table class="table table-striped table-hover table-bordered" id="categoryTable" th:fragment="showMoreTable">
        <thead>
            <tr>
                <th>STT<i class="fa fa-sort"></i></th>
                <th>Course Name</th>
                <th>Number of Student</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="course,stat : ${coursesList}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${course.title}"></td>
                <td th:text="${course.enrollments.size()}"></td>

            </tr>
        </tbody>
    </table>
</div>