<div th:fragment="cardCourse">
    <!-- Content START -->
    <div class="tab-pane fade show active" id="course-pills-tabs-1" role="tabpanel"
        aria-labelledby="course-pills-tab-1">
        <div class="row g-4">

            <!-- Card item START -->
            <div class="col-sm-6 col-lg-4 col-xl-3" th:each="course : ${courses}">
                <div class="card shadow h-100">
                    <!-- Image -->
                    <img th:src="@{${course.courseImg} ? ${course.courseImg} : '/assets/images/courses/4by3/01.jpg'}"
                         class="card-img-top" style="height: 250px; object-fit: contain;" alt="course image">
                    <!-- Card body -->
                    <div class="card-body pb-0">
                        <!-- Badge and favorite -->
                        <div class="d-flex justify-content-between mb-2">
                            <a href="#" class="badge bg-purple bg-opacity-10 text-purple"
                                th:text="${course.courseLevel}">All level</a>
                            <a href="#" class="h6 mb-0"><i class="far fa-heart"></i></a>
                        </div>
                        <!-- Title -->
                        <h5 class="card-title fw-normal"><a th:href="@{'/home/course-detail?id=' + ${course.courseId}}"
                                th:text="${course.title}">Sketch from A to Z: for
                                app
                                designer</a></h5>
                        <p class="mb-2 text-truncate-2" th:text="${course.description}">Proposal indulged no do sociable
                            he throwing
                            settling.</p>
                        <!-- Rating star -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-0 small" th:each="i : ${#numbers.sequence(1, 5)}">
                                <i th:classappend="${i <= course.averageRating ? 'fas fa-star' : 'far fa-star'}"
                                    class="text-warning"></i>
                            </li>
                            <li class="list-inline-item ms-2 h6 fw-light mb-0"
                                th:text="|${#numbers.formatDecimal(course.averageRating, 1, 'POINT', 1, 'POINT')}/5.0|">4.0/5.0</li>
                        </ul>
                    </div>

                    <!-- Card footer -->
                    <div class="card-footer pt-0 pb-3">
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span class="h6 fw-light mb-0"><i class="far fa-clock text-danger me-2"></i><span
                                    th:text="${course.getDuration()/60 + 'h'}">12h 56m</span></span>
                            <span class="h6 fw-light mb-0"><i class="fas fa-table text-orange me-2"></i><span
                                    th:text="${course.getTotalLessons() + ' lectures'}">15</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card item END -->

        </div> <!-- Row END -->
    </div>
    <!-- Content END -->


</div>