<!DOCTYPE html>
<html lang="en">
<head th:replace="adminDashBoard/fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
</head>
<body>
<main>
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <img th:src="@{/assets/images/element/error404-01.svg}" class="h-200px h-md-400px mb-4" alt="">
                    <!-- Title -->
                    <h1 class="display-1 text-danger mb-0">403</h1>
                    <!-- Subtitle -->
                    <p class="text-500 mb-0">You do not have permission to access this page...</p>
                    <!-- info -->
                    <p class="mb-4">Either something went wrong or this page doesn't exist anymore.</p>
                    <!-- Button -->
                    <a th:href="@{/login}" class="btn btn-primary mb-0">Back to Login</a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>