<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/instructor/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Instructor</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/instructor/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Manage
        </div>

        <!-- Nav Item - Courses -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/instructor/courses}">
                <i class="fas fa-fw fa-book"></i>
                <span>My Courses</span></a>
        </li>

        <!-- Nav Item - Lessons -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/instructor/list}">
                <i class="fas fa-fw fa-video"></i>
                <span>Lessons</span></a>
        </li>

<!--        &lt;!&ndash; Nav Item - Quiz &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:href="@{/instructor/quizzes}">-->
<!--                <i class="fas fa-fw fa-question-circle"></i>-->
<!--                <span>Quizzes</span></a>-->
<!--        </li>-->

<!--        &lt;!&ndash; Nav Item - Feedback &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:href="@{/instructor/feedback}">-->
<!--                <i class="fas fa-fw fa-comments"></i>-->
<!--                <span>Feedback</span></a>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</div>
