<nav th:fragment="sidebarUpdate" class="navbar sidebar navbar-expand-xl navbar-dark bg-dark">

  <!-- Navbar brand for xl START -->
  <div class="d-flex align-items-center">
    <a class="navbar-brand" th:href="@{/instructor/courses}">
      <img class="navbar-brand-item" th:src="@{/assets/images/logo-light.svg}" alt="">
    </a>
  </div>
  <!-- Navbar brand for xl END -->

  <div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1"
       id="offcanvasSidebar">
    <div class="offcanvas-body sidebar-content d-flex flex-column bg-dark">

      <!-- Sidebar menu START -->
      <ul class="navbar-nav flex-column" id="navbar-sidebar">



        <!-- menu item 2 -->

        <!-- Menu item 3 -->


        <!-- Menu item 4 -->
        <li class="nav-item"><a class="nav-link" th:href="@{/instructor/courses}">
          <i class="fas fa-fw fa-trophy"></i>
          <span>Courses</span>
        </a></li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/instructor/enrolled}">
            <i class="fas fa-user-graduate fa-fw me-1"></i>
            <span>Students</span>
          </a>
        </li>

        <!-- Menu item 5 -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/instructor/invoice}">
            <i class="fas fa-fw fa-credit-card"></i>
            <span>Revenue</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/instructor/maintenance}">
            <i class="fas fa-fw fa-receipt"></i>
            <span>CourseMaintenance</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/instructor/profile}">
            <i class="fas fa-fw fa-user"></i>
            <span>Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/instructor/voucher}">
            <i class="fa fa-ticket-alt"></i>
            <span>Voucher</span>
          </a>
        </li>

      </ul>
      <!-- Sidebar menu end -->

    </div>
  </div>
</nav>