<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{homePage/fragments/header :: header}">-->
<!--</head>-->
<!--<body>-->
<!--    &lt;!&ndash; Notification Element &ndash;&gt;-->


<!--    &lt;!&ndash; Header &ndash;&gt;-->
<!--    <nav th:replace="~{homePage/fragments/navHeader :: navHeader}"></nav>-->



<!--    &lt;!&ndash; Footer &ndash;&gt;-->
<!--    <footer th:replace="~{homePage/fragments/footer :: footer}"></footer>-->

<!--    &lt;!&ndash; Scripts &ndash;&gt;-->
<!--    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>-->
<!--    <script src="assets/vendor/glightbox/js/glightbox.js"></script>-->
<!--    <script src="assets/js/functions.js"></script>-->


<!--</body>-->
<!--</html>-->